In [ ]:
#1. Using input() function take one number from the user and using ternary operators check whether the number is even or odd
number=int(input("Enter the number: "))
if number%2==0:
  print("This number is even")
else:
  print("This number is odd")

Enter the number: 34
This number is even

In [ ]:
#2.Using input function take two number and then swap the number
number1=int(input("Enter the first number: "))
number2=int(input("Enter the second number: "))
number1,number2=number2,number1
print("The number1 value is: ",number1)
print("The number2 value is : ",number2)

Enter the first number: 3
Enter the second number: 4
The number1 value is:  4
The number2 value is :  3

In [ ]:
#3.Write a Program to Convert Kilometers to Miles
conversion_factor = 0.621371
kilometers = float(input("Enter distance in kilometers: "))
miles = kilometers * conversion_factor
print(f"{kilometers} kilometers is equal to {miles:.2f} miles.")

Enter distance in kilometers: 5.0
5.0 kilometers is equal to 3.11 miles.

In [ ]:
#4.Find the Simple Interest on Rs. 200 for 5 years at 5% per year.
principal = 200
rate = 5
time = 5
simple_interest = (principal * rate * time) / 100
print("The Simple Interest on Rs.", principal, "for", time, "years at", rate, "% per year is Rs.", simple_interest)

The Simple Interest on Rs. 200 for 5 years at 5 % per year is Rs. 50.0